.productCarousel {
  width: 100%;
  border-bottom: 5px solid rgb(216, 215, 215);
}

.productCarousel img {
  height: 100%;
  max-width: 200px;
}

@media screen and (min-width: 768px) {
  .productCarousel {
    border-bottom-style: none;
  }
}