.detailsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #DBD7CD;
  background-color: #fff;
}

.sideSummary {
  display: none;
  padding: 32px;
}

.bottomSummary {
  display: block;
  padding: 0 32px;
}

.titleContainer {
  width: 100%; 
  display: flex;
  justify-content: center;
}

.titleContainer > span {
  position: absolute;
  left: 24px;
  top: 20px;
  height: 24px;
  width: 24px;
  font-size: 2rem;
  font-weight: 200;
}

.title {
  padding: 16px 48px 0 48px;
}

.price {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 16px;
  padding-top: 32px;
}

.offer {
  color: rgb(179, 0, 0);
  padding-bottom: 8px;
}

.productDetails {
  width: 100%;
}

.productDetails h3 {
  border-bottom: 1px solid #DBD7CD;
  padding-bottom: 16px;
  padding:16px 0;
}

.attributeListItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid #DBD7CD;
  align-items: center;
}

.attributeListItem span {
  color: #141414;
  margin-top: 0;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: normal;
  padding: 12px 0;
}

.productInfo {
  margin-top: 48px;
}

.bottomSection {
  padding: 0 32px;
}

@media screen and (min-width: 768px) {  
  .productDetails {
    width: 60%;
    max-width: 900px;
    border-right: 1px solid lightgray;
    padding-right: 32px;
    padding-left: 32px;
  }

  .sideSummary {
    display: flex;
    flex-direction: column;
  }

  .bottomSummary {
    display: none;
    padding: 0;
  }

  .detailsContainer {
    flex-direction: row;
    align-items: flex-start;
  }
}